[submodule "Drivetrain"]
	path = src/main/java/frc/robot/Subsystems/Drivetrain
	url = https://github.com/Turbojax07/1086Drivetrain
[submodule "Gyro"]
	path = src/main/java/frc/robot/Subsystems/Gyro
	url = https://github.com/Turbojax07/1086Gyro
