[submodule "Drivetrain"]
	path = src/main/java/frc/robot/subsystems/drivetrain
	url = https://github.com/Turbojax07/1086Drivetrain
[submodule "Gyro"]
	path = src/main/java/frc/robot/subsystems/gyro
	url = https://github.com/Turbojax07/1086Gyro
[submodule "Carriage"]
	path = src/main/java/frc/robot/subsystems/carriage
	url = https://github.com/Turbojax07/1086Carriage
[submodule "Vision"]
	path = src/main/java/frc/robot/subsystems/vision
	url = https://github.com/Turbojax07/1086-Vision-2025
[submodule "Elevator"]
	path = src/main/java/frc/robot/subsystems/elevator
	url = https://github.com/Blasty25/1086-Elevator
[submodule "Climb"]
	path = src/main/java/frc/robot/subsystems/climb
	url = https://github.com/Turbojax07/1086Climb
